<div class="container text-center">
	<div class="row panel panel-primary" ng-repeat="node in items">
		<br>
		<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4> Node Information: {{ node.name }}</h4>
				</div>
				<br>
				<h5><a href="http://{{node.ip}}:8080"> CAdvisor Link</a></h5>
				<table class="table"> 
					<tr>
						<td>State</td> 
						<td>{{ node.state }}</td>
					</tr>

					<tr>
						<td>IP Address</td>
						<td>{{ node.ip }}</td>
					</tr>

					<tr>
						<td>Kernel Version</td>
						<td>{{ node.info.kernel_version }}</td>
					</tr>

					<tr>
						<td>Memory Capacity</td>
						<td>{{ node.info.memory_capacity / 1048576 }} MB</td>
					</tr>

					<tr>
						<td>Cores</td>
						<td>{{ node.info.num_cores }}</td>
					</tr>

					<tr>
						<td>CPU Frequency</td>
						<td>{{ node.info.cpu_frequency_khz }} kHz</td>
					</tr>
				</table>
				<br>
				<h4>Running Containers</h4>
				<div ng-repeat="container in containers">
					<table class="table"> 
						<tr>
							<td>Container ID</td>
							<td>{{ container.id }}</td>
						</tr>

						<tr>
							<td>State</td> 
							<td>{{ container.state }}</td>
						</tr>


						<tr>
							<td>CPU %</td>
							<td>{{ container.cpu_percent }}</td>
						</tr>

						<tr>
							<td>Memory %</td>
							<td>{{ container.mem_percent }}</td>
						</tr>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
